# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/

# macOS
.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/

# Build products
build/
DerivedData/

# Other
*.log
